
  {% include "base.html" %}
  {% include "navbar.html" %}

  <br></br>
 <div>
<div>
    <center><h1>Analysis Results</h1></center>
    <br></br>
     <table id="analysisResults-table" class="table table-striped table-bordered nowrap" cellspacing="0" width="80%">
     <thead>
     <tr>
	<th>BAT_ID</th>
	<th>Donor</th>
	<th>Panel</th>
	<th>File Name</th>
	<th>redQ4</th>
	<th>result</th>
	<th>blackQ2</th>
	<th>blackQ3</th>
	<th>blackQ4</th>
	<th>zmeanQ4</th>
	<th>CD63min</th>
	<th>CD63max</th>
	<th>msiCCR3</th>
	<th>cellQ4</th>
	<th>responder</th>
     </thead>
     <tbody>
      {% for r in analysis_results %}
      <tr>
        <td >{{ r.analysisMarker_id__analysis_id__bat_id__bat_name }}</td>
        <td >{{ r.analysisMarker_id__analysis_id__donor_id__donor_abbr }}</td>
	<td> <a href="show_channels/{{r.analysis_id}}">{{r.analysisMarker_id__analysis_id__panel_id__panel_name}}</a></td>
        <td >{{ r.file_id__file_name }}</td>
        <td >{{ r.redQ4|floatformat:2 }}</td>
        <td >{{ r.result }}</td>
        <td >{{ r.blackQ2 |floatformat:2 }}</td>
	<td >{{ r.blackQ3 |floatformat:2}}</td>
        <td >{{ r.blackQ4|floatformat:2 }}</td>
        <td >{{ r.zmeanQ4|floatformat:2 }}</td>
        <td >{{ r.CD63min|floatformat:2 }}</td>
        <td >{{ r.CD63max|floatformat:2 }}</td>
        <td >{{ r.msiCCR3|floatformat:2 }}</td>
        <td >{{ r.cellQ4|floatformat:2 }}</td>
        <td >{{ r.responder }}</td>
      {% empty %}
      <tr>
        <td colspan="7" class="text-center bg-warning">No Data</td>
      </tr>
    {% endfor %}

     </tbody>
     </table>
 </div>


<script>


$(document).ready(function () {
    // Setup - add a text input to each footer cell
    $('#analysisResults-table thead tr')
        .clone(true)
        .addClass('filters')
        .appendTo('#analysisResults-table thead');


var table = $('#analysisResults-table').DataTable({
        orderCellsTop: true,
        fixedHeader: true,
        pageLength: 20,
        aaSorting: [],
        initComplete: function () {
            var api = this.api();
            // For each column
            api
                .columns()
                .eq(0)
                .each(function (colIdx) {
                    // Set the header cell to contain the input element
                    var cell = $('.filters th').eq(
                        $(api.column(colIdx).header()).index()
                    );
                    var title = $(cell).text();
                    $(cell).html('<input type="text" placeholder="' + title + '" />');
 
                    // On every keypress in this input
                    $(
                        'input',
                        $('.filters th').eq($(api.column(colIdx).header()).index())
                    )
                        .off('keyup change')
                        .on('change', function (e) {
                            // Get the search value
                            $(this).attr('title', $(this).val());
                            var regexr = '({search})'; //$(this).parents('th').find('select').val();
 
                            var cursorPosition = this.selectionStart;
                            // Search the column for that value
                            api
                                .column(colIdx)
                                .search(
                                    this.value != ''
                                        ? regexr.replace('{search}', '(((' + this.value + ')))')
                                        : '',
                                    this.value != '',
                                    this.value == ''
                                )
                                .draw();
                        })
                        .on('keyup', function (e) {
                            e.stopPropagation();

                            $(this).trigger('change');
                            $(this)
                                .focus()[0]
                                .setSelectionRange(cursorPosition, cursorPosition);
                        });
                });
        },
    });

});

</script>

<style>
thead input {
        width: 80%;
    }

</style>
