
{% include "base.html" %}
{% include "navbar.html" %}

<div class="container-fluid vh-100">
     <div class="" style="margin-top:50px">
         <div class="rounded d-flex justify-content-center">
             <div class="col-md-5 col-sm-12 shadow-lg p-5 bg-light">
                 <div class="text-center">
                     <div class="modal-footer"></div>  
                 </div>
                 <div class="container">
                    <h4 class="text-success">Your Analysis is now running in the backgroung</h4>
                    <h5 class="text-success">You can always check your Analysis status and download results from the Analysis list any time</h5> 
                    </div>
                 <div class="modal-footer"></div>
                 <a href="{% url 'populateDB:show_analysis' %}" class="btn btn-primary">Go to the Analysis list</a>
             </div>
         </div>
     </div>
   </div>
