
  {% include "base.html" %}
  {% include "navbar.html" %}

  <br></br>
 <div>
<div>
    <center><h1>Analysis Results</h1></center>
    <br></br>
     <table id="analysisResults-table" class="stripe row-border order-column"  width="80%">
     <thead>
     <tr>
	<th>BAT_ID</th>
	<th>Donor</th>
	<th>Panel</th>
	<th>Condition</th>
	<th>Type</th>
	<th>Version</th>
	<th>File Name</th>
	<th>File Allergen</th>
	<th>File Control</th>
	<th>responder</th>
	<th>plot symbol</th>
	<th>result</th>
	<th>zMarker</th>
	<th>redQ4</th>
	<th>blackQ2</th>
	<th>blackQ3</th>
	<th>blackQ4</th>
	<th>zmeanQ4</th>
	<th>Z1_minQ4</th>
	<th>Z1_maxQ4</th>
	<th>msi_YQ4</th>
	<th>cellQ3</th>
        <th>cellQ4</th>
        <th>cellTotal</th>
	<th>debrisPerc</th>
        <th>firstDoubPerc</th>
        <th>secDoubPerc</th>
        <th>qualityMessages</th>
     </thead>
     <tbody>
      {% for r in analysis_results %}
      <tr>
        <td >{{ r.analysisMarker_id__analysis_id__bat_id__bat_name }}</td>
        <td >{{ r.analysisMarker_id__analysis_id__donor_id__donor_abbr }}</td>
	<td > <a href="show_channels/{{r.analysisMarker_id__analysis_id}}">{{r.analysisMarker_id__analysis_id__panel_id__panel_name}}</a></td>
	<td >{{ r.analysisMarker_id__analysis_id__condition }}</td>
	<td >{{ r.analysisMarker_id__analysis_type}}</td>
	<td >{{ r.analysisMarker_id__analysis_type_version}}</td>
	<td >{{ r.file_id__file_name }}</td>
        <td >{{ r.file_id__allergen }}</td>
	<td >{{ r.file_id__control }}</td>
	<td >{{ r.responder }}</td>
	<td > <a href="view_plots/{{r.result_id}}">{{r.plot_symbol}}</a></td>

	<td >{{ r.plot_symbol }}</td>
        <td >{{ r.result }}</td>
	<td>{{r.zMarker}}</td>
	<td >{{ r.redQ4|floatformat:2 }}</td>
	<td >{{ r.blackQ2 |floatformat:2 }}</td>
        <td >{{ r.blackQ3 |floatformat:2}}</td>
        <td >{{ r.blackQ4|floatformat:2 }}</td>
        <td >{{ r.zmeanQ4|floatformat:2 }}</td>
        <td >{{ r.Z1_minQ4|floatformat:2 }}</td>
        <td >{{ r.Z1_maxQ4|floatformat:2 }}</td>
        <td >{{ r.msi_YQ4|floatformat:2 }}</td>
        <td >{{ r.cellQ3|floatformat:2 }}</td>
	<td >{{ r.cellQ4|floatformat:2 }}</td>
	<td >{{ r.cellTotal }}</td>
	<td >{{ r.debrisPerc|floatformat:2 }}</td>
        <td >{{ r.firstDoubPerc|floatformat:2 }}</td>
        <td >{{ r.secDoubPerc |floatformat:2 }}</td>
        <td >{{ r.qualityMessages }}</td>

      {% empty %}
      <tr>
        <td colspan="7" class="text-center bg-warning">No Data</td>
      </tr>
    {% endfor %}

     </tbody>
     </table>
 </div>


<script>


$(document).ready(function () {
    // Setup - add a text input to each footer cell
    $('#analysisResults-table thead tr')
        .clone(true)
        .addClass('filters')
        .appendTo('#analysisResults-table thead');


var table = $('#analysisResults-table').DataTable({
        fixedColumns: {
        		left: 0,
			right: 0
    			},
    	scrollCollapse: true,
    	scrollX: true,
    	scrollY: 620,
	orderCellsTop: true,
        fixedHeader: true,
        pageLength: 15,
        aaSorting: [],
	autoWidth: false,
        initComplete: function () {
            var api = this.api();
            // For each column
            api
                .columns()
                .eq(0)
                .each(function (colIdx) {
                    // Set the header cell to contain the input element
                    var cell = $('.filters th').eq(
                        $(api.column(colIdx).header()).index()
                    );
                    var title = $(cell).text();
                    $(cell).html('<input type="text" placeholder="' + title + '" />');
 
                    // On every keypress in this input
                    $(
                        'input',
                        $('.filters th').eq($(api.column(colIdx).header()).index())
                    )
                        .off('keyup change')
                        .on('change', function (e) {
                            // Get the search value
                            $(this).attr('title', $(this).val());
                            var regexr = '({search})'; //$(this).parents('th').find('select').val();
 
                            var cursorPosition = this.selectionStart;
                            // Search the column for that value
                            api
                                .column(colIdx)
                                .search(
                                    this.value != ''
                                        ? regexr.replace('{search}', '(((' + this.value + ')))')
                                        : '',
                                    this.value != '',
                                    this.value == ''
                                )
                                .draw();
                        })
                        .on('keyup', function (e) {
                            e.stopPropagation();

                            $(this).trigger('change');
                            $(this)
                                .focus()[0]
                                .setSelectionRange(cursorPosition, cursorPosition);
                        });
                });
        },
    });

});

</script>

<style>
thead input {
        width: 80%;
    }
/* Ensure that the demo table scrolls */
    th, td { white-space: nowrap; }
    div.dataTables_wrapper {
        width: 1800px;
        margin: 0 auto;
    }
</style>
