
  {% include "base.html" %}
  {% include "navbar.html" %}

  <br></br>
 <div>
<div>
    <center><h1>Analysis Thresholds</h1></center>
    <br></br>
      <table id="analysis-thresholds" class="display" style="width:100%">
     <thead>
     <tr>
	<th>BAT_ID</th>
	<th>Donor</th>
	<th>Panel</th>
	<th>Z1</th>
	<th>Y1</th>
        <th>Z2</th>
	<th>SSCA Threshold</th>
	<th>FcR Threshold</th>
        <th>CD63 Threshold</th>
     </thead>
     <tbody>
      {% for t in analysisThresholds %}
      <tr>
        <td >{{ t.analysisMarker_id__analysis_id__bat_id__bat_name }}</td>
        <td >{{ t.analysisMarker_id__analysis_id__donor_id__donor_abbr }}</td>
        <td >{{ t.analysisMarker_id__analysis_id__panel_id__panel_name}}</td>
        <td >{{ t.analysisMarker_id__chosen_z1 }}</td>
        <td >{{ t.analysisMarker_id__chosen_y1 }}</td>
        <td >{{ t.analysisMarker_id__chosen_z2 }}</td>
        <td >{{ t.SSCA_Threshold }}</td>
        <td >{{ t.FcR_Threshold }}</td>
        <td >{{ t.CD63_Threshold }}</td>
      {% empty %}
      <tr>
        <td colspan="7" class="text-center bg-warning">No Data</td>
      </tr>
    {% endfor %}

     </tbody>
     </table>
 </div>


<script>


$(document).ready(function () {
    // Setup - add a text input to each footer cell
    $('#analysis-thresholds thead tr')
        .clone(true)
        .addClass('filters')
        .appendTo('#analysis-thresholds thead');


var table = $('#analysis-thresholds').DataTable({
        orderCellsTop: true,
        fixedHeader: true,
        pageLength: 15,
        aaSorting: [],
        initComplete: function () {
            var api = this.api();
            // For each column
            api
                .columns()
                .eq(0)
                .each(function (colIdx) {
                    // Set the header cell to contain the input element
                    var cell = $('.filters th').eq(
                        $(api.column(colIdx).header()).index()
                    );
                    var title = $(cell).text();
                    $(cell).html('<input type="text" placeholder="' + title + '" />');
 
                    // On every keypress in this input
                    $(
                        'input',
                        $('.filters th').eq($(api.column(colIdx).header()).index())
                    )
                        .off('keyup change')
                        .on('change', function (e) {
                            // Get the search value
                            $(this).attr('title', $(this).val());
                            var regexr = '({search})'; //$(this).parents('th').find('select').val();
 
                            var cursorPosition = this.selectionStart;
                            // Search the column for that value
                            api
                                .column(colIdx)
                                .search(
                                    this.value != ''
                                        ? regexr.replace('{search}', '(((' + this.value + ')))')
                                        : '',
                                    this.value != '',
                                    this.value == ''
                                )
                                .draw();
                        })
                        .on('keyup', function (e) {
                            e.stopPropagation();

                            $(this).trigger('change');
                            $(this)
                                .focus()[0]
                                .setSelectionRange(cursorPosition, cursorPosition);
                        });
                });
        },
    });

});

</script>

<style>
thead input {
        width: 80%;
    }

</style>
