
  {% include "base.html" %}
  {% include "navbar.html" %}

  <br></br>
 <div>
<div class="container-fluid vh-100">
    <center><h1>Analysis List</h1></center>
    <br></br>
     <table id="analysis-table" class="display" style="width:100%">
     <thead>
     <tr>
      <th>BAT Name</th>
      <th>Donor</th>
      <th>Panel</th>
      <th>Z1</th>
      <th>Y1</th>
      <th>Z2</th>
      <th>Date</th>
      <th>Started</th>
      <th>Finished</th>
      <th>Status</th>
      <th>Type</th>
      <th>VER</th>
      <th>Download</th>
      <th>Settings</th>
      <th>Files</th>
      <th>Analyze</th>
      <th></th>
      <th></th>

    </tr>
     </thead>
     <tbody>
      {% for a in analysis %}
      <tr>
        <td >{{ a.bat_name }}</td>
        <td >{{ a.donor_name }}</td>
        <td >{{ a.panel_name }}</td>
        <td >{{ a.chosen_z1 }}</td>
        <td >{{ a.chosen_y1 }}</td>
        <td >{{ a.chosen_z2 }}</td>
        <td >{{ a.analysis_date }}</td>
        <td >{{ a.analysis_start_time }}</td>
        <td >{{ a.analysis_end_time }}</td>
        <td >{{ a.analysis_status }}</td>
        <td >{{ a.analysis_type }}</td>
	<td >{{ a.analysis_type_version }}</td>

        <td>

          {% if a.analysis_status == "Ready" %}

          <a href="download_pdf/{{a.analysisMarker_id}}" class="btn btn-danger" >
            <span class="fa fa-file-pdf"></span>
          </a>


          <a href="download_xlsx/{{a.analysisMarker_id}}" class="btn btn-success">
            <span class="fa fa-file-excel"></span>
          </a>

          {% endif %}

        </td>

        <td>
                <a class="btn btn-info" href="show_channels/{{a.analysis_id}}">
                        <span class="fa fa-eye"></span>
                </a>
        </td>
        <td>
                <a class="btn btn-info" href="list_files/{{a.analysis_id}}">
                        <span class="fa fa-eye"></span>
                </a>
        </td>
        <td>
                <a class="btn btn-warning" href="{% url 'populateDB:add_experimentfile' %}update_files/add_channels/marker_settings/{{a.analysis_id}}">Analyze</a>
        </td>
        <td>
                {% if a.analysis_status == "Ready" %}
                <a href="delete_alert/{{a.analysisMarker_id}}" class="btn btn-danger" >
                        <span class="fa fa-trash"></span>
                </a>

                {% endif %}
        </td>
	<td>
		<!-- Button trigger modal -->
		<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  			<span class="fa fa-download"></span>
		</button>
	</td>	
      </tr>
      {% empty %}
      <tr>
        <td colspan="7" class="text-center bg-warning">No Data</td>
      </tr>
    {% endfor %}

     </tbody>
     </table>
 </div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       	<form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">File Name:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	<a href="" class="btn btn-success"> Download </a>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
		  $('table.display').DataTable({
			          /* Disable initial sort */
				  "aaSorting": [],
				  "autoWidth": false
			      });
})
</script>

