{% include "base.html" %}
{% include "navbar.html" %}


<div class="container-fluid vh-100">
    <div class="" style="margin-top:50px">
      <div class="rounded d-flex justify-content-center">
          <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
              <div class="text-center">
                  <div class="modal-footer"></div>  
              </div>
              <div class="container">
                <h2 class="text-danger">Error</h2>
                <h4 class="text-danger">Please select at least one Z2 marker</h4>
                <br></br>
               </div>
              <div class="modal-footer"></div>
	      <button class="btn btn-primary" onclick="history.back()">Go Back</button>

          </div>
      </div>
  </div>
</div>
