{% include "base.html" %}
{% include "navbar.html" %}


<div class="container-fluid vh-100">
  <div class="" style="margin-top:50px">
      <div class="rounded d-flex justify-content-center">
          <div class="col-md-5 col-sm-12 shadow-lg p-5 bg-light">
              <div class="text-center">
                  <h3 class="text-primary">Please Select Analysis Type</h3>
                  <div class="modal-footer"></div>
                </div>
                <div class="container">
                    <div class="row">
                      <div class="col-sm">
			      <h5 >{{ bat_name }}</h5>
                      </div>
                      <div class="col-sm">
			      <h5 >{{ donor_name }}</h5>
                      </div>
                      <div class="col-sm">
			      <h5 > {{ panel_name }}</h5>
                      </div>
                    </div>
			<br></br>
				<div class="d-grid gap-2">
					<a href="marker_settings_autobat/{{analysis_id}}" type="button" class="btn btn-outline-primary">Auto-Bat</a>
					<a href="marker_settings_autograt/{{analysis_id}}" type="button" class="btn btn-outline-success">Auto-Grat</a>
					<a href="marker_settings_CD32autobat/{{analysis_id}}" type="button" class="btn btn-outline-primary">CD32 Auto-Bat</a>
    				</div>

              </form>              
          </div>
      </div>
  </div>
</div>
