{% include "base.html" %}
{% include "navbar.html" %}

<div class="container-fluid vh-100">
    <div class="" style="margin-top:50px">
        <div class="rounded d-flex justify-content-center">
            <div class="col-md-5 col-sm-12 shadow-lg p-5 bg-light">
                <div class="text-center">
                    <div class="modal-footer"></div>
                </div>
                <input type="button" class="btn btn-primary" value="Go back!" onclick="history.back()">
				<br></br>
				<div class="row">
					<div class="col-sm">
							<h5>{{ bat_name }}</h5>
					</div>
					<div class="col-sm">
							<h5 >{{ donor_name }}</h5>
					</div>
					<div class="col-sm">
							<h5 > {{ panel_name }}</h5>
					</div>
					<div class="col-sm">
						<h5 > {{ analysis_type }}</h5>
					</div>
				</div>
				  <br></br>
				<div class="row">
						<div class="col-sm">
						<h5 >SSCA_Threshold :</h5>
						</div>
						<div class="col-sm">
							{{ SSCA_Threshold }}
					</div>
				</div>
				<div class="row">
						<div class="col-sm">
							<h5 >X_Threshold :</h5>
						</div>
						<div class="col-sm">
							{{ CD63_Threshold }}
						</div>
				</div>
				<div class="row">
						<div class="col-sm">
							<h5 >Y_Threshold :</h5>
						</div>
						<div class="col-sm">
							{{ FcR_Threshold }}
						</div>
				</div>
            </div>
        </div>
    </div>
  </div>
</div>

