{% include "base.html" %}
{% include "navbar.html" %}


<div class="container-fluid vh-100">
    <div class="" style="margin-top:50px">
      <div class="rounded d-flex justify-content-center">
          <div class="col-md-6 col-sm-12 shadow-lg p-5 bg-light">
              <div class="text-center">
                  <div class="modal-footer"></div>  
              </div>
              <div class="container">
                <br></br>
		<form method="POST" enctype="multipart/form-data" class="post-form" action="re_analysis_all" >
			                {% csrf_token %}

			<h3 >Choose analysis type:</h3>
			<input type="radio" id="analysis_type" name="analysis_type" value=""> 
			<label for=""></label><br>
			<input type="radio" id="analysis_type" name="analysis_type" value="AutoBat">
                        <label for="AutoBat">AutoBat</label><br>
			<input type="radio" id="analysis_type" name="analysis_type" value="AutoGrat">
			<label for="AutoGrat">AutoGrat</label><br>
			<br></br>
              
	      </div>
              <div class="modal-footer"></div>
	      <div class="container">
		<div class="row justify-content-md-center">
    			<div class="col-sm">
				                <input type="button" class="btn btn-primary" value="Go back!" onclick="history.back()">

    			</div>
    			    <div class="col-6">
    				</div>
			<div class="col-sm">
		 	<button type="submit" class="btn btn-primary">Re-Analyze</button>
		 </form>
			</div>
		</div>
		</div>
          </div>
      </div>
  </div>
</div>

