{% include "base.html" %}
{% include "navbar.html" %}

{% block content %}
<br>
	<div class="text-center">
                <h3>Research Questions</h3>
        </div>
        <hr />
    <section class="site_filter">
        <div class="container-fluid">
		<h5 class = "text-center"> 1. General Search:</h3>
		<div class="row">
                        <div class="col-sm-1 col-1">
                       		<select class="form-control" id="bat_names" url = "{%url 'populateDB:getBat_names' %}">
					<option value='all' selected"true" disabled="disabled">BAT Name</option>
                        	</select>
                        </div>

                        <div class="col-md-1 col-lg-1">
              			<input class="form-control" id="donor_names"   placeholder="Donor Abrr."> 
                        </div>
			<div class="form-group col-md-2 col-lg-2">
                                <select class="form-control" id="panel_names" url = "{%url 'populateDB:getPanel_names' %}">
					<option value='all' selected"true" disabled="disabled">Panel Name</option>
                                </select>
                        </div>
                        <div class="form-group col-md-2 col-lg-2">
                                <input class="form-control" id="marker_names" placeholder="Marker Contains..">
                        </div>

			<div class = "col-md-2 col-lg-2">
				<input type="date" class="form-control" id="date_min">
				
			</div>
			<div class = "col-md-2 col-lg-2">
				<input type="date" class="form-control" id="date_max">
                        </div>

                        <div class="col-md-2 col-lg-2">
                                <input class="form-control" id="allergens" placeholder="Allergen">
                        </div>
		</div>
		<div class="row">
			<div class="form-group col-md-2 col-lg-2">
                                <select class="form-control" id="file_controls" url = "{%url 'populateDB:getFile_controls' %}">
					<option value='all' selected"true" disabled="disabled">File Control</option>
                                </select>
                        </div>
			<div class="form-group col-md-2 col-lg-2">
                                <select id="OFC_classes" class="form-control">
                                        <option value="All" selected"true" disabled="disabled">OFC Class.</option>
                                </select>
			</div>

                        <div class="form-group col-md-2 col-lg-2">
                                <select class="form-control" id="clinical_classes" url = "{%url 'populateDB:getClinical_classes' %}">
					<option value='all' selected>clinical class.</option>
                                </select>
                        </div>

                        <div class="form-group col-md-2 col-lg-2">
                                <select id="analysis_results" class="form-control">
                                        <option value="All" selected="true" disabled="disabled">Results</option>
                                </select>
                        </div>

                        <div class="form-group col-md-2 col-lg-2">
                                <select class="form-control" id="responders" url = "{%url 'populateDB:getResponders' %}">
					<option value="All" selected>Responder</option>
                                </select>
                        </div>
			<div class="col-sm-2 col-2">
                                <div class="form-group">
                                        <select class="form-control" id="sort_by">
                                                <option selected="true"
                                                        disabled="disabled" value = "none">Sort By</option>
                                                <option value='bat_name'>bat_names</option>
                                                <option value='donor_name'>donor_names</option>
                                                <option value='bat_name'>panel_names</option>
                                        </select>
                                </div>
                        </div>

		</div>
		<hr />
		<h5 class = "text-center"> 2. Search based on a range in the results data:</h3>
		<div class="row">
                        <div class="form-group col-md-1 col-lg-1">
                               	<input class="form-check-input" type="checkbox" value="" id="redQ4" checked>
                               	<label class="form-check-label" for="redQ4">Red Q4</label>
                       	</div>
                       	<div class="form-group col-md-1 col-lg-1">
                               	<input class="form-control" id="redQ4_min" placeholder="min..">
                       	</div>
                       	<div class="form-group col-md-1 col-lg-1">
                               	<input class="form-control" id="redQ4_max" placeholder="max..">
                       	</div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-check-input" type="checkbox" value="" id="blackQ2" checked>
                                <label class="form-check-label" for="BlackQ2">Black Q2</label>
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="blackQ2_min" placeholder="min..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="blackQ2_max" placeholder="max..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-check-input" type="checkbox" value="" id="blackQ3" checked>
                                <label class="form-check-label" for="BlackQ3">Black Q3</label>
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="blackQ3_min" placeholder="min..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="blackQ3_max" placeholder="max..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-check-input" type="checkbox" value="" id="blackQ4" checked>
                                <label class="form-check-label" for="BlackQ4">Black Q4</label>
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="blackQ4_min" placeholder="min..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="blackQ4_max" placeholder="max..">
                        </div>

		</div>

                <div class="row">
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-check-input" type="checkbox" value="" id="zmeanQ4" checked>
                                <label class="form-check-label" for="zmeanQ4">Z Mean Q4</label>
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="zmeanQ4_min" placeholder="min..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="zmeanQ4_max" placeholder="max..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-check-input" type="checkbox" value="" id="CD63min" checked>
                                <label class="form-check-label" for="CD63min">CD63min</label>
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="CD63min_min" placeholder="min..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="CD63min_max" placeholder="max..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-check-input" type="checkbox" value="" id="CD63max" checked>
                                <label class="form-check-label" for="CD63max">CD63max</label>
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="CD63max_min" placeholder="min..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="CD63max_max" placeholder="max..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-check-input" type="checkbox" value="" id="msiCCR3" checked>
                                <label class="form-check-label" for="msiCCR3">msiCCR3</label>
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="msiCCR3_min" placeholder="min..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="msiCCR3_max" placeholder="max..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-check-input" type="checkbox" value="" id="cellQ4" checked>
                                <label class="form-check-label" for="cellQ4">cellQ4</label>
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="cellQ4_min" placeholder="min..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="cellQ4_max" placeholder="max..">
                        </div>

		</div>
                <hr />
                <h5 class="text-center"> 3. Search based on a range in the Classifications data</h3>

		<div class="row">
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-check-input" type="checkbox" value="" id="wheatFlour" checked>
                                <label class="form-check-label" for="wheatFlour">Wheat Flour</label>
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="wheatFlour_min" placeholder="min..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="wheatFlour_max" placeholder="max..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-check-input" type="checkbox" value="" id="gluten" checked>
                                <label class="form-check-label" for="gluten">gluten</label>
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="gluten_min" placeholder="min..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="gluten_max" placeholder="max..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-check-input" type="checkbox" value="" id="gliadin" checked>
                                <label class="form-check-label" for="gliadin">gliadin</label>
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="gliadin_min" placeholder="min..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="gliadin_max" placeholder="max..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-check-input" type="checkbox" value="" id="tri_a_19" checked>
                                <label class="form-check-label" for="tri_a_19">tri_a_19</label>
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="tri_a_19_min" placeholder="min..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="tri_a_19_max" placeholder="max..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-check-input" type="checkbox" value="" id="tri_a_19" checked>
                                <label class="form-check-label" for="tri_a_14">tri_a_14</label>
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="tri_a_14_min" placeholder="min..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="tri_a_14_max" placeholder="max..">
                        </div>.
		</div>
		<hr />
		<div class="row justify-content-center">
			<div class="col-8">
				<div class="form-check form-switch">
                                	<input class="form-check-input" type="checkbox" id="mean_donor">
                                	<label class="form-check-label" for="mean_donor">Show only mean data for each donor</label>
                        
				</div>
			</div>
			<div class="col-2">
                        	<button type="button" id="reset_filters" class="btn btn-secondary">Reset Filters</button>
	                </div>
			<div class="col-2">
				<button type="button" id= "search" class="btn btn-primary"> Search</button>
			</div>
		</div>


        </div>
    </section>
    <br />
    <section>
        <div class="container-fluid">
            <div id = "result-count" class="text-right">
                <span class='font-weight-bold'></span> results found.
            </div>
            <div class="row properties_table justify-content-center">
                <div id = "no_results">
                    <h5>No results found</h5>
                </div>
                <table class="table table-striped table-hover" id="list_data" data-toggle="table" url = "{% url 'populateDB:list_results' %}">
                    <thead>
                        <tr>
                            <th data-field="bat_name">BAT Name</th>
			    <th data-field="donor_name">Donor Abbr.</th>
			    <th data-field="panel_name">Panel Name</th>
			    <th data-field="date_of_measurement">Date</th>
                            <th data-field="file_name">File Name</th>
			    <th data-field="file_allergen">File Allergen</th>
                            <th data-field="file_control">File Control</th>
			    <th data-field="clinical_class">Clinical Classifications</th>
                            <th data-field="OFC_class">OFC Classification</th>
                            <th data-field="wheat_flour">Wheat Flour</th>
			    <th data-field="redQ4">redQ4</th>
                            <th data-field="result">result</th>
                            <th data-field="blackQ2">blackQ2</th>
                            <th data-field="blackQ3">blackQ3</th>
                            <th data-field="blackQ4">blackQ4</th>
                            <th data-field="zmeanQ4">zmeanQ4</th>
                            <th data-field="CD63min">CD63min</th>
                            <th data-field="CD63max">CD63max</th>
                            <th data-field="msiCCR3">msiCCR3</th>
                            <th data-field="cellQ4">cellQ4</th>
                            <th data-field="responder">responder</th>
                            
                        </tr>
                    </thead>
                    <tbody id="list_results">
                    </tbody>
                </table>
            </div>
            <div class="row justify-content-center">
                <nav aria-label="navigation">
                    <ul class="pagination">
                        <li class="page-item">
                            <button class="btn btn-primary page-link" id="previous">Previous</button>
                        </li>
                        <li class="page-item pull-right">
                            <button class="btn btn-primary page-link" id="next">Next</button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
{% endblock %}

<style type="text/css">
    .properties_table{
    min-height: 755px;
    font-size: 14px;
    }
    .container-fluid{
        padding-right:50px;
        padding-left:50px;
    }
</style>