{% include "base.html" %}
{% include "navbar.html" %}

{% block content %}
<br>
	<div class="text-center">
                <h3>Research Questions</h3>
        </div>
        <hr />
    <form method="GET" action= "{%url 'populateDB:research_results' %}" autocomplete="off">
        <div class="container-fluid">
		<h5 class = "text-center"> 1. General Search:</h3>
		<div class="row">
                        <div class="col-sm-1 col-1">
                       		<select class="form-control" id="bat_names" name="bat_name" url = "{%url 'populateDB:getBat_names' %}">
					<option value='all' selected"true" disabled="disabled">BAT Name</option>
                        	</select>
                        </div>

                        <div class="col-md-1 col-lg-1">
              			<input class="form-control" id="donor_names" name="donor_names" placeholder="Donor Abrr."> 
                        </div>
			<div class="form-group col-md-2 col-lg-2">
                                <select class="form-control" id="panel_names" name ="panel_names" url = "{%url 'populateDB:getPanel_names' %}">
					<option value='all' selected"true" disabled="disabled">Panel Name</option>
                                </select>
                        </div>
                        <div class="form-group col-md-2 col-lg-2">
                                <input class="form-control" id="marker_names" name="marker_names" placeholder="Marker Contains..">
                        </div>

			<div class = "col-md-2 col-lg-2">
				<input type="date" class="form-control" id="date_min" name="date_min">
				
			</div>
			<div class = "col-md-2 col-lg-2">
				<input type="date" class="form-control" id="date_max" name="date_max">
                        </div>
                        <div class="form-group col-md-2 col-lg-2">
                                <select id="analysis_type" name="analysis_type" class="form-control">
                                        <option value="all"  selected="true" disabled="disabled">Analysis Type</option>
                                </select>
                        </div>
		</div>
		<div class="row">
                        <div class="col-md-2 col-lg-2">
                                <input class="form-control" id="allergens" name="allergens" placeholder="Allergen">
                        </div>

			<div class="form-group col-md-2 col-lg-2">
                                <select class="form-control" name="file_controls" id="file_controls" url = "{%url 'populateDB:getFile_controls' %}">
					<option value='all' selected"true" disabled="disabled">File Control</option>
                                </select>
                        </div>
			<div class="form-group col-md-2 col-lg-2">
                                <select id="OFC_classes" name="OFC_classes" class="form-control">
                                        <option value="all" selected"true" disabled="disabled">OFC Class.</option>
                                </select>
			</div>
                        <div class="form-group col-md-2 col-lg-2">
                                <select id="OFC_classesExercise" name="OFC_classesExercise" class="form-control">
                                        <option value="all" selected"true" disabled="disabled">OFC classes - Exercise</option>
                                </select>
                        </div>

                        <div class="form-group col-md-2 col-lg-2">
                                <select class="form-control" id="clinical_classes" name="clinical_classes" url = "{%url 'populateDB:getClinical_classes' %}">
					<option value='all' selected>clinical class.</option>
                                </select>
                        </div>

                        <div class="form-group col-md-2 col-lg-2">
                                <select id="analysis_results" name="analysis_results" class="form-control">
                                        <option value="all" selected="true" disabled="disabled">Results</option>
                                </select>
                        </div>

                        <div class="form-group col-md-2 col-lg-2">
                                <select class="form-control" id="responders" name="responders" url = "{%url 'populateDB:getResponders' %}">
					<option value="all" selected>Responder</option>
                                </select>
                        </div>
			<div class="form-group col-md-2 col-lg-2">
                                <input class="form-control" id="zmarker" name="zmarker" placeholder="zMarker Contains..">
                        </div>

		</div>
		<hr />
                <h5 class = "text-center"> 2. Comparison of wheat extract with control files:</h3>
			<div class="row">
			<div class="col-md-2 col-lg-3">
                        </div>

			<div class="form-group col-md-2 col-lg-2">
                                <select class="form-control" name="compare_file_controls" id="compare_file_controls" url = "{%url 'populateDB:getFile_controls' %}">
                                        <option value='all' selected"true" disabled="disabled">File Control</option>
                                </select>
			</div>
			<div class="col-md-1 col-lg-1">
				<div class="text-center"> VS </div>
                        </div>
			<div class="col-md-2 col-lg-2">
                                <input class="form-control" id="compare_allergen" name="compare_allergen" placeholder="Allergen">
                        </div>

		</div>
		<hr />
		<h5 class = "text-center"> 3. Search based on a range in the results data:</h3>
		<div class="row">
                        <div class="form-group col-md-1 col-lg-1">
                               	<input class="form-check-input" type="checkbox" value="y" id="redQ4" name="redQ4" checked>
                               	<label class="form-check-label" for="redQ4">Red Q4</label>
                       	</div>
                       	<div class="form-group col-md-1 col-lg-1">
                               	<input class="form-control" id="redQ4_min" type="number" name="redQ4_min" placeholder="min..">
                       	</div>
                       	<div class="form-group col-md-1 col-lg-1">
                               	<input class="form-control" id="redQ4_max" type="number" name="redQ4_max" placeholder="max..">
                       	</div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-check-input" type="checkbox" value="y" id="blackQ2" name="blackQ2" checked>
                                <label class="form-check-label" for="BlackQ2">Black Q2</label>
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="blackQ2_min" type="number" name="blackQ2_min" placeholder="min..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="blackQ2_max" type="number" name="blackQ2_max" placeholder="max..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-check-input" type="checkbox" value="y" id="blackQ3" name="blackQ3" checked>
                                <label class="form-check-label" for="BlackQ3">Black Q3</label>
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="blackQ3_min" type="number" name="blackQ3_min" placeholder="min..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="blackQ3_max" type="number" name="blackQ3_max" placeholder="max..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-check-input" type="checkbox" value="y" id="blackQ4" name="blackQ4" checked>
                                <label class="form-check-label" for="BlackQ4">Black Q4</label>
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="blackQ4_min" type="number" name="blackQ4_min" placeholder="min..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="blackQ4_max" type="number" name="blackQ4_max" placeholder="max..">
                        </div>

		</div>

                <div class="row">
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-check-input" type="checkbox" value="y" id="zmeanQ4" name="zmeanQ4" checked>
                                <label class="form-check-label" for="zmeanQ4">Z Mean Q4</label>
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="zmeanQ4_min" type="number" name="zmeanQ4_min" placeholder="min..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="zmeanQ4_max" type="number" name="zmeanQ4_max" placeholder="max..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-check-input" type="checkbox" value="y" id="Z1_minQ4" name="Z1_minQ4" checked>
                                <label class="form-check-label" for="Z1_minQ4">Z1_minQ4</label>
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="Z1_minQ4_min" type="number" name="Z1_minQ4_min" placeholder="min..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="Z1_minQ4_max" type="number" name="Z1_minQ4_max" placeholder="max..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-check-input" type="checkbox" value="y" id="Z1_maxQ4" name="Z1_maxQ4" checked>
                                <label class="form-check-label" for="Z1_maxQ4">Z1_maxQ4</label>
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="Z1_maxQ4_min" type="number" name="Z1_maxQ4_min" placeholder="min..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="Z1_maxQ4_max" type="number" name="Z1_maxQ4_max" placeholder="max..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-check-input" type="checkbox" value="y" id="msi_YQ4" name="msi_YQ4" checked>
                                <label class="form-check-label" for="msi_YQ4">msi_YQ4</label>
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="msi_YQ4_min" type="number" name="msi_YQ4_min" placeholder="min..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="msi_YQ4_max" type="number" name="msi_YQ4_max" placeholder="max..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-check-input" type="checkbox" value="y" id="cellQ4" name="cellQ4" checked>
                                <label class="form-check-label" for="cellQ4">cellQ4</label>
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="cellQ4_min" type="number" name="cellQ4_min" placeholder="min..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="cellQ4_max" type="number" name="cellQ4_max" placeholder="max..">
                        </div>

		</div>
                <hr />
		<h5 class="text-center"> 4. Search based on a range in the results of the blood test (IgE): </h3>

		<div class="row">
			<div class="form-group col-md-1 col-lg-1">
                                <input class="form-check-input" type="checkbox" value="y" id="gIgE" name="gIgE">
                                <label class="form-check-label" for="gIgE">gIgE</label>
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="gIgE_min" type="number" name="gIgE_min" placeholder="min..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="gIgE_max" type="number" name="gIgE_max" placeholder="max..">
                        </div>


                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-check-input" type="checkbox" value="y" id="wheatFlour" name="wheatFlour">
                                <label class="form-check-label" for="wheatFlour">Wheat Flour</label>
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="wheatFlour_min" type="number" name="wheatFlour_min" placeholder="min..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="wheatFlour_max" type="number" name="wheatFlour_max" placeholder="max..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-check-input" type="checkbox" value="y" id="gluten" name="gluten">
                                <label class="form-check-label" for="gluten">gluten</label>
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="gluten_min" type="number" name="gluten_min" placeholder="min..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="gluten_max" type="number" name="gluten_max" placeholder="max..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-check-input" type="checkbox" value="y" id="gliadin" name="gliadin">
                                <label class="form-check-label" for="gliadin">gliadin</label>
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="gliadin_min" type="number" name="gliadin_min" placeholder="min..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="gliadin_max" type="number" name="gliadin_max" placeholder="max..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-check-input" type="checkbox" value="y" id="tri_a_19" name="tri_a_19">
                                <label class="form-check-label" for="tri_a_19">tri_a_19</label>
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="tri_a_19_min" type="number" name="tri_a_19_min" placeholder="min..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="tri_a_19_max" type="number" name="tri_a_19_max" placeholder="max..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-check-input" type="checkbox" type="number" value="" id="tri_a_14" name="tri_a_14">
                                <label class="form-check-label" for="tri_a_14">tri_a_14</label>
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="tri_a_14_min" type="number" name="tri_a_14_min" placeholder="min..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="tri_a_14_max" type="number" name="tri_a_14_max" placeholder="max..">
                        </div>
			<div class="form-group col-md-1 col-lg-1">
                                <input class="form-check-input" type="checkbox" value="y" id="Tryptase" name="Tryptase">
                                <label class="form-check-label" for="Tryptase">Tryptase</label>
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="Tryptase_min" type="number" name="Tryptase_min" placeholder="min..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="Tryptase_max" type="number" name="Tryptase_max" placeholder="max..">
                        </div>
		</div>
		<hr />
                <h5 class="text-center"> 5. Search based on a range in the results of the Skin prick test (SPT): </h3>

                <div class="row">
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-check-input" type="checkbox" value="y" id="Histamine" name="Histamine">
                                <label class="form-check-label" for="Histamine">Histamine</label>
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="Histamine_min" type="number" name="Histamine_min" placeholder="min..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="Histamine_max" type="number" name="Histamine_max" placeholder="max..">
                        </div>


                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-check-input" type="checkbox" value="y" id="NaCl" name="NaCl">
                                <label class="form-check-label" for="NaCl">NaCl</label>
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="NaCl_min" type="number" name="NaCl_min" placeholder="min..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="NaCl_max" type="number" name="NaCl_max" placeholder="max..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-check-input" type="checkbox" value="y" id="wheatFlourSPT" name="wheatFlourSPT">
                                <label class="form-check-label" for="wheatFlourSPT">Wheat Flour</label>
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="wheatFlourSPT_min" type="number" name="wheatFlourSPT_min" placeholder="min..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="wheatFlourSPT_max" type="number" name="wheatFlourSPT_max" placeholder="max..">
                        </div>

                        <div class="form-group col-md-1 col-lg-1">
                            <input class="form-check-input" type="checkbox" value="y" id="glutenSPT" name="glutenSPT">
                            <label class="form-check-label" for="glutenSPT">gluten</label>
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="glutenSPT_min" type="number" name="glutenSPT_min" placeholder="min..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="glutenSPT_max" type="number" name="glutenSPT_max" placeholder="max..">
                        </div>
			                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-check-input" type="checkbox" value="y" id="birch" name="birch">
                                <label class="form-check-label" for="birch">birch</label>
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="birch_min" type="number" name="birch_min" placeholder="min..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="birch_max" type="number" name="birch_max" placeholder="max..">
                        </div>


                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-check-input" type="checkbox" value="y" id="mugworth" name="mugworth">
                                <label class="form-check-label" for="mugworth">mugworth</label>
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="mugworth_min" type="number" name="mugworth_min" placeholder="min..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="mugworth_max" type="number" name="mugworth_max" placeholder="max..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-check-input" type="checkbox" value="y" id="timothy" name="timothy">
                                <label class="form-check-label" for="timothy">timothy</label>
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="timothy_min" type="number" name="timothy_min" placeholder="min..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="timothy_max" type="number" name="timothy_max" placeholder="max..">
                        </div>

                        <div class="form-group col-md-1 col-lg-1">
                            <input class="form-check-input" type="checkbox" value="y" id="house_dust_mite" name="house_dust_mite">
                            <label class="form-check-label" for="house_dust_mite">house dustmite</label>
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="house_dust_mite_min" type="number" name="house_dust_mite_min" placeholder="min..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="house_dust_mite_max" type="number" name="house_dust_mite_max" placeholder="max..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                            <input class="form-check-input" type="checkbox" value="y" id="cat" name="cat">
                            <label class="form-check-label" for="cat">cat</label>
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="cat_min" type="number" name="cat_min" placeholder="min..">
                        </div>
                        <div class="form-group col-md-1 col-lg-1">
                                <input class="form-control" id="cat_max" type="number" name="cat_max" placeholder="max..">
                        </div>
		</div>
               	<hr />
		<!--
                        <div class="col-sm-2 col-2">
                                <div class="form-group">
                                        <select class="form-control" id="sort_by" name="sort_by">
                                                <option selected="true"
                                                        disabled="disabled" value = "none">Sort By</option>
                                                <option value='bat_name'>BAT Name</option>
                                                <option value='donor_name'>Donor</option>
                                                <option value='files'>File Name</option>
                                        </select>
                                </div>
                        </div>
		-->
		</div>
		<hr />
		<div class="row justify-content-center">
			<!--
			<div class="col-8">
                                <div class="form-check form-switch">
                                        <input class="form-check-input" type="radio" name="AVG" id="All" checked>
                                        <label class="form-check-label" for="flexRadioDefault2">
                                                All
                                        </label>
                                </div>
				<div class="form-check form-switch">
					<input class="form-check-input" type="radio" name="AVG" value="AVG_sample" id="AVG_sample">
  					<label class="form-check-label" for="AVR_sample">
    						Show only Average results for each Sample
  					</label>
				</div>
                                <div class="form-check form-switch">
                                        <input class="form-check-input" type="radio" name="AVG" value="AVG_donor" id="AVG_donor">
                                        <label class="form-check-label" for="AVR_donor">
                                                Show only Average results for each Donor
                                        </label>
                                </div>
			</div>
			-->

			<div class="col-2">
                        	<button type="button" id="reset_filters" class="btn btn-secondary">Reset Filters</button>
	                </div>
			{{queryList}}
			<div class="col-2">
				<button type="submit" id= "search" class="btn btn-primary"> Search</button>
			</div>
		</div>


        </div>
    </form>
    <br />
{% endblock %}
<!--
<style type="text/css">
    .properties_table{
    min-height: 755px;
    font-size: 14px;
    }
</style>
-->
