{% include "base.html" %}
{% include "navbar.html" %}

<div class="container-fluid vh-100">
    <div class="" style="margin-top:50px">
        <div class="rounded d-flex justify-content-center">
            <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
                <div class="text-center">
                    <div class="modal-footer"></div>  
                </div>
		<input type="button" class="btn btn-primary" value="Go back!" onclick="history.back()">
		<br></br>
		{{error}}
            </div>
        </div>
    </div>
  </div>
</div>
