{% include "base.html" %}
{% include "navbar.html" %}

<div class="container-fluid vh-100">
     <div class="" style="margin-top:50px">
         <div class="rounded d-flex justify-content-center">
             <div class="col-md-5 col-sm-12 shadow-lg p-5 bg-light">
                 <div class="text-center">
                     <div class="modal-footer"></div>  
                 </div>
                 <div class="container">
                    <h4 class="text-success">You Have Successfully Updated The Plot symbol</h4>
                    </div>
                 <div class="modal-footer"></div>
                 <a href="{% url 'populateDB:analysis_report' %}" class="btn btn-primary">Go to the Analysis Results</a>
             </div>
         </div>
     </div>
   </div>
