{% include "base.html" %}
{% include "navbar.html" %}

<div class="container-fluid vh-100">
     <div class="" style="margin-top:50px">
         <div class="rounded d-flex justify-content-center">
             <div class="col-md-5 col-sm-12 shadow-lg p-5 bg-light">
                 <div class="text-center">
                     <div class="modal-footer"></div>  
                 </div>
            <div>
		<div class="d-flex justify-content-center">
                <object
                  data='{{ plot_path }}'
                  type="application/pdf"
                  width="550"
                  height="600"
                >
          
                  <iframe
		    src='{{ plot_path }}'
                    width="550"
                    height="600"
                  >
                  <p>This browser does not support PDF!</p>
                  </iframe>
                </object>
              </div>
	      </div>
		<br>
		 <div class="modal-footer"></div>
		 <form method="POST" enctype="multipart/form-data" class="post-form" action="update_plots_symbol/{{analysisMarker_id}}" > 
                    {% csrf_token %}
                    <div class="col-sm">
                        <input type="radio" id="checked" name="checked" value="ok">
                        <label for="ok">OK</label><br>
		            </div>
                    <div class="col-sm">
                        <input type="radio" id="checked" name="checked" value="not_ok">
                        <label for="not_ok">Not OK</label><br>
		    </div>
		    <div class="col-sm">
                        <input type="radio" id="checked" name="checked" value="viewed">
                        <label for="viewed">Viewed</label><br>
                        <br>
                    </div>
                        <div class="modal-footer"></div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
                </form> 
             </div>
         </div>
     </div>
   </div>

