{% include "base.html" %}
{% include "navbar.html" %}


<div class="container-fluid vh-100">
    <div class="" style="margin-top:50px">
      <div class="rounded d-flex justify-content-center">
          <div class="col-md-5 col-sm-12 shadow-lg p-5 bg-light">
              <div class="text-center">
                  <h3 class="text-success">Ready</h3>
                  <div class="modal-footer"></div>  
              </div>
              <div class="container">
                <h4 class="text-success">Your Panel settinges have been updated successfully</h4>
                <h5 class="text-success">in the next step, you will start analyzing your files</h5>
                </div>
              <div class="modal-footer"></div>
              <a href="marker_settings/{{analysis_id}}" class="btn btn-primary">Next</a>            
          </div>
      </div>
  </div>
</div>
