{% include "base.html" %}
{% include "navbar.html" %}


<div class="container-fluid vh-100">
    <div class="" style="margin-top:50px">
      <div class="rounded d-flex justify-content-center">
          <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
              <div class="text-center">
                  <div class="modal-footer"></div>  
              </div>
              <div class="container">
                <h4 class="text-success">Your Files are ready Now</h4>
                <h5 class="text-success">in the next step, you should Update Panel's Settings</h5>
               </div>
              <div class="modal-footer"></div>
              <a href="add_channels/{{analysis_id}}" class="btn btn-primary">Next</a>
            
          </div>
      </div>
  </div>
</div>
