
{% include "base.html" %}
{% include "navbar.html" %}


<div class="container">
    <br></br>
    <center><h1 class="page-header">Files</h1></center>
    <a href="{% url 'populateDB:add_experimentfile' %}" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span>
        Add Files
    </a> 

    <br></br>
   <table id="analysis-table" class="display" style="width:100%">
   <thead>
    <th>File Name</th>
    <th>Allergen</th>
    <th>Control</th>
    <th>User</th>
    <th>Meta Data</th>
    <th>Mean Row Data</th> 
   </thead>
   <tbody>
    {% for file in file_data %}  
    <tr>
        <td>{{ file.file_name }}</td>
        <td>{{ file.allergen }}</td> 
        <td>{{ file.control }}</td>
        <td>{{ file.user }}</td>
	<td>
          <a class="btn btn-info" href="show_metadata/{{ file.file_id }}">
                  <span class="fa fa-eye"></span>
          </a>
        </td>
        <td>
          <a class="btn btn-info" href="show_rawdata/{{ file.file_id }}">
                  <span class="fa fa-eye"></span>
          </a>
        </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="7" class="text-center bg-warning">No Data</td>
    </tr>
  {% endfor %}

   </tbody>
   </table>
</div>

<script>
	  $(document).ready(function(){
			                    $('table.display').DataTable({
							                                      /* Disable initial sort */
							                                              "aaSorting": []
							                                  });
		  })
</script>
