{% include "base.html" %}
{% include "navbar.html" %}

<div class="container-fluid vh-100">
    <div class="" style="margin-top:50px">
        <div class="rounded d-flex justify-content-center">
            <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
                <a href="{% url 'populateDB:show_analysis' %}" class="btn btn-primary">Go Back</a>
                <div class="text-center">
                    <div class="modal-footer"></div>  
                </div>
                <table class="table table-striped table-bordered table-sm">  
                    <thead >  
                    <tr>  
                        <th>Label</th>
                        <th>Value</th>
                    </tr>  
                    </thead>  
                    <tbody> 
                {% for i in meta_data %}  
                    <tr>
                        <th>{{ i.labels }}</th>  
                        <td>{{ i.values }}</td>  
                    </tr>  
                {% endfor %}  
                    </tbody>  
                </table>  
            </div>
        </div>
    </div>
  </div>
</div>
