{% include "base.html" %}
{% include "navbar.html" %}

<br></br>
<div class="container">

  <center><h1>Donors</h1></center>
  <br></br>
 <a href="{% url 'populateDB:add_donor' %}" class="btn btn-primary">New Donor</a> 
 <br></br>
   <table id="analysis-table" class="display" style="width:100%">
    <thead >  
        <tr>  
            <th>Donor Abbr</th>
	    <th> Wheat Flour </th>
	    <th> Gluten  </th>
	    <th> Gliadin  </th>
	    <th> Tri a 19  </th>
	    <th> Tri a 14  </th>
            <th>OFC Classifications</th>
            <th>Clinical Classifications</th>
        </tr>  
        </thead>  
        <tbody>  
    {% for donor in donors_data %}  
        <tr>  
            <td>{{ donor.donor_abbr }}</td>  
	    <td>{{donor.donorclass_sige__wheat_flour}}</td>  
	    <td>{{donor.donorclass_sige__gluten}}</td>
	    <td>{{donor.donorclass_sige__gliadin}}</td>
	    <td>{{donor.donorclass_sige__Tri_a_19}}</td>
	    <td>{{donor.donorclass_sige__Tri_a_14}}</td>
	    <td> {{donor.donorclass_ofc__donor_ofc}}</td>
	    <td> {{donor.donorclass_clinical__donor_clinicalClass_id__clinicalClass_name}}</td>
        </tr> 
    {% empty %}
    <tr>
      <td colspan="7" class="text-center bg-warning">No Data</td>
    </tr>
  {% endfor %}

   </tbody>
   </table>
</div>

<script>
	  $(document).ready(function(){
			                    $('table.display').DataTable({
							                                      /* Disable initial sort */
							                                              "aaSorting": []
							                                  });
		  })
</script>
