{% include "base.html" %}
{% include "navbar.html" %}

<br></br>
<div class="container">

  <center><h1>Donors</h1></center>
  <br></br>
 <a href="{% url 'populateDB:add_donor' %}" class="btn btn-primary">New Donor</a> 
 <br></br>
   <table id="analysis-table" class="display" style="width:100%">
    <thead >  
        <tr>  
            <th>Donor Abbr</th>
	    <th> Age in months </th>
	    <th> Age in years </th>
	    <th> Sex </th>
        </tr>  
        </thead>  
        <tbody>  
    {% for donor in donors_data %}  
        <tr>  
            <td>{{ donor.donor_abbr }}</td>  
	    <td>{{donor.donor_age_months}}</td>  
	    <td>{{donor.donor_age_years}}</td>
	    <td>{{donor.donor_sex}}</td>
        </tr> 
    {% empty %}
    <tr>
      <td colspan="7" class="text-center bg-warning">No Data</td>
    </tr>
  {% endfor %}

   </tbody>
   </table>
</div>

<script>
	  $(document).ready(function(){
			                    $('table.display').DataTable({
							                                      /* Disable initial sort */
							                                              "aaSorting": []
							                                  });
		  })
</script>
