{% include "base.html" %}
{% include "navbar.html" %}
{% block content %}

<div class="container">
<br></br>
 <h1>Auto-BAT Project Home</h1>

<p>Welcome to Auto-BAT Project, a website in development by AG Baumgrass at DRFZ.</p>
<br></br>
<h2>Database Content</h2>

<p>Recently, the Database holds the listed datasets:</p>
<ul>
<li><strong>Experiments:</strong> {{ num_bats }}</li>
<li><strong>Donors:</strong> {{ num_donors }}</li>
<li><strong>Files:</strong> {{ num_files }}</li>
<li><strong>Total Analysis:</strong> {{ num_analysis }}</li>
</ul>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
</div>

{% endblock content %}

{% include "footbar.html" %}