<html>
<head>
	<style type="text/css">
		.sidenav {
			height:100%;
			width:360px;
			position: fixed;
			z-index:1;
			top:0;
			left:0;
			background-color:rgb(253, 250, 250);
			overflow-x: hidden;
			padding-top:20px;
		}
 
		.sidenav a {
			padding:6px 8px 6px 16px;
			text-decoration: none;
			font-size:25px;
			color: #818181;
			display:block;
		}
 
		.sidenav a:hover{
			color:#f1f1f1;
		}	
 
		.main{
			margin-left:160px;
			padding: 0px 10px;
		}
 
	</style>
    {% load static %}
</head>
 
<body>
    
	<div class="sidenav">
        <img src= "{% static 'media/drfz_logo.png' %}" width="200" height="100">
       <br>
        <ul >
            <li>
                <a href="{% url 'populateDB:home' %}" >
                    <i class="fa fa-home"></i>
                    <strong>Home</strong>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-lock"></i>
                    <strong>System Admin</strong>
                </a>
                <ul>
                    <li><a href="{% url 'populateDB:add_institute' %}"><i></i>Institutes</a></li>
                    <li><a href="{% url 'populateDB:add_department' %}"><i></i>Departments</a></li>
                    <li><a href="{% url 'populateDB:add_panel' %}"><i></i>Panels</a></li>
                    <li><a href="{% url 'populateDB:add_cytometer' %}"><i></i>Cytometers</a></li>
                    <li><a href="{% url 'populateDB:add_filetype' %}"><i></i>File Types</a></li>
                    <li><a href="{% url 'populateDB:add_marker' %}"><i ></i>Markers</a></li>
                    <li><a href="{% url 'populateDB:add_device' %}"><i ></i>Devices</a></li>
                    <li><a href="{% url 'populateDB:add_donor' %}"><i ></i>Donors</a></li>
                    <li><a href="{% url 'populateDB:add_experimenter' %}"><i ></i>Experimenters</a></li>
                </ul>
            </li>
            <li>
                <a href="{% url 'populateDB:show_experiment' %}">
                    <i class="fa fa-flask"></i>
                    <strong>Experiments</strong>
                </a>
            </li>
            <li>
                <a href="{% url 'populateDB:show_experimentfile' %}">
                    <i class="fa fa-upload"></i>
                    <strong>Files</strong>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-area-chart"></i>
                    <strong>Analysis</strong>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-file-text"></i>
                    <strong>Reports</strong>
                </a>
            </li>
            <li>
                <a href="{% url 'populateDB:logout' %}">
                    <i class="fa fa-sign-out"></i>
                    <strong>Log Out</strong>
                </a>
            </li>
        </ul>
	</div>
 
	{% block content %}
	{% endblock %}
 
</body>
</html>