{% include "base.html" %}
{% include "navbar.html" %}

<br></br>
<div class="container">

  <center><h1>Panels</h1></center>
  <br></br>
 <a href="{% url 'populateDB:add_panel' %}" class="btn btn-primary">Add New Panel</a> 
 <br></br>
   <table id="analysis-table" class="display" style="width:100%">
    <thead >  
        <tr>  
            <th>Panel Name</th>
        </tr>  
        </thead>  
        <tbody>  
        {% for panels in panels_data %}  
            <tr>  
                <td>{{ panels.panel_name }}</td>  
            </tr>  
    {% empty %}
    <tr>
      <td colspan="7" class="text-center bg-warning">No Data</td>
    </tr>
  {% endfor %}

   </tbody>
   </table>
</div>


<script>
$(document).ready(function(){
  $('table.display').DataTable();
})
</script>
