{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}Login{% endblock title %}
{% load static %}
{% block content %}
<div class="">
    <div style="text-align: center;">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <img src= "{% static 'media/drfz_logo.png' %}" width="400" height="200">
        {% if form.errors %}
        <p>
            Your username and password didn't match.Please
            Please try again.
        </p>
        {% else %}
        <p></p>
        {% endif %}
    </div>

    <form action="" method="post" class="form ">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <input type="hidden" name="next" value="{{ next }}" />
        <button type="submit" class="btn btn-primary">Log In</button>
        {% endbuttons %}
    </form>
</div>
{% endblock content %}